{% extends 'base.html.twig' %}

{% block title %}Page Test{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-primary">Template Argon Dashboard Intégré !</h1>
    <button class="btn btn-success">Test Button</button>
</div>
{% endblock %}
